@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

:root {
  --color-yellow: #f2f817; /* rgb(242, 248, 23) */
  --color-blue: #1975d7; /* rgb(25, 117, 215) */

  --color-gray-1: #f6f8f7;
  --color-gray-2: #aaacb1; /* rgb(171, 173, 177) */
  --color-gray-3: #544d54; /* rgb(84, 77, 84) */

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

* {
  font-family: var(--secondary-font);
}

h1,
h2 {
  font-family: var(--primary-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header and navbar */

header {
  height: 60px;
  position: sticky;
  background-color: rgba(84, 77, 84, 0.6);
  top: 0;
  z-index: 100;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
}

.header-color {
  background-color: rgba(84, 77, 84, 0.9);
}

/* navbar */

.my-navbar {
  height: 0;
  padding-left: 0px;
  display: flex;
  align-content: center;
}

.my-navbar li {
  font-size: 20px;
  margin: 24px 36px 16px;
}

.my-navbar li a {
  color: var(--color-gray-1);
}

.my-navbar li:not(:first-child, :nth-child(2)) {
  display: none;
}

.my-nav-icon span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 7px;
  position: relative;
  background: #fff;
  border-radius: 3px;
}

.my-logo {
  position: absolute;
  right: 15px;
  top: -8px;
  width: 120px;
}

.my-logo img {
  width: 100%;
}

.show-menu {
  flex-direction: column;
  justify-content: unset;
  height: 100vh;
  background-color: #111;
  box-shadow: 0 0 0 60px #111;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out; /* Safari and Chrome */
  -moz-transition: all 0.3s ease-out; /* Firefox */
  -ms-transition: all 0.3s ease-out; /* IE 9 */
  -o-transition: all 0.3s ease-out; /* Opera */
}

.show-menu li:not(:first-child, :nth-child(2)) {
  display: inline;
  border-bottom: 1px solid var(--color-gray-1);
}

@media screen and (min-width: 992px) {
  .my-navbar {
    padding-top: 20px;
    flex-direction: row;
    text-transform: uppercase;
  }

  .my-navbar li {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding-right: 10px;
  }

  .my-navbar .my-nav-icon {
    display: none;
  }

  .my-navbar .my-logo {
    top: -6px;
    margin-right: auto;
    position: relative;
    width: 150px;
  }

  .my-navbar li:not(:first-child, :nth-child(2)) {
    display: inline;
  }

  .my-navbar li:not(:first-child, :nth-child(2)) a {
    margin: 0 8px;
    padding: 0;
    color: var(--color-gray-1);
  }

  .my-navbar li:not(:first-child, :nth-child(2)) a:hover {
    text-decoration: none;
    color: var(--color-gray-1);
    border-bottom: 3px solid var(--color-yellow);
  }

  .my-navbar .active {
    border-bottom: 3px solid var(--color-gray-1);
  }

  .my-navbar .active:hover {
    color: var(--color-gray-1);
    border-bottom-color: var(--color-yellow);
  }
}

/* footer */

footer {
  background-color: var(--color-gray-3);
  color: var(--color-gray-2);
}

footer a {
  color: var(--color-gray-1);
}

footer a:hover {
  color: var(--color-gray-2);
}
.copy {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-gray-2);
}
.copy::before,
.copy::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--color-gray-2);
}

/* button */

.my-button {
  position: relative;
  background-color: var(--color-gray-3);
  width: 180px;
  height: 45px;
  border-radius: 40px;
  margin: 10px 0;
}

.my-button button {
  z-index: 7;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-gray-1);
  background-color: transparent;
  overflow: hidden;
  border: 1px solid var(--color-gray-1);
  border-radius: 40px;
}

.my-button span {
  color: var(--color-gray-1);
  z-index: 7;
  position: relative;
  transition: color 0.5s linear;
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 200px;
    height: 200px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 200px;
    height: 200px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 200px;
    height: 200px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 200px;
    height: 200px;
  }
}
.my-button button:before,
.my-button button:after {
  z-index: 6;
  position: absolute;
  top: 50%;
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--color-gray-1);
  border-radius: 50%;
}
.my-button button:before {
  left: -20px;
  transform: translate(-50%, -50%);
}
.my-button button:after {
  right: -20px;
  transform: translate(50%, -50%);
}
.my-button:hover button {
  z-index: 7;
  cursor: pointer;
  color: var(--color-gray-3);
  border: 1px solid var(--color-gray-3);
}
.my-button:hover button:before {
  -webkit-animation: criss-cross-left 0.8s both;
  animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.my-button:hover button:after {
  -webkit-animation: criss-cross-right 0.8s both;
  animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.my-button:hover span {
  color: var(--color-gray-3);
}

/* hover - transition text */

.my-item {
  position: relative;
}

.my-item::before {
  content: "";
  padding-top: 100%;
  display: block;
}

.my-item .item-image {
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  overflow: hidden;
}

.item-image img {
  width: 110%;
}

.my-item .item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding-top: 10%;
  color: #fff;
  background-color: rgba(50, 50, 50, 0);
  transition: background-color 0.3s linear 0.1s;
}

.item-image:hover .item-text {
  background-color: rgba(50, 50, 50, 0.7);
}

.item-text h3 {
  position: relative;
  width: 90%;
  left: -120px;
  transition: left 0.3s ease-out 0.1s, opacity 0.3s ease-out 0.1s;
  opacity: 0;
}

.item-image:hover h3 {
  left: 0px;
  opacity: 1;
}

.item-text p {
  position: relative;
  width: 90%;
  border-top: 1px solid #fff;
  right: -150px;
  transition: right 0.3s ease-out 0.1s, opacity 0.3s ease-out 0.1s;
  opacity: 0;
}

.item-image:hover p {
  right: 0px;
  opacity: 1;
}

/* home page */

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  top: -60px;
  display: table;
  background-image: url("/assets/images/forside-nygammaltkok_slikatop.jpg");
  background-size: cover;
  background-position-x: 33%;
  background-position-y: 63%;
}

.home-text {
  position: absolute;
  bottom: 5vh;
  width: 70%;
  left: 15%;
}

.main-text {
  max-width: 900px;
  background-color: rgba(84, 77, 84, 0.8);
  color: var(--color-gray-1);
}

.my-slide {
  display: none;
}

.my-slide.current {
  display: inline;
}

/* steps */

.step {
  position: relative;
  margin-left: 40px;
  padding-left: 70px;
  padding-bottom: 40px;
  min-height: 150px;
  border-left: 2px dashed var(--color-blue);
  color: var(--color-gray-3);
}

.hexagon {
  position: absolute;
  left: 0px;
  top: 48px;
}

.hex {
  width: 100px;
  height: 100px;
  background: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: translate(-50%, -50%);
  clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.hex div {
  text-align: center;
  font-size: 32px;
  color: var(--color-yellow);
}

.fa-edit {
  margin-left: 8px;
}

/* about */

#about {
  background-color: var(--color-gray-2);
}

/* products */

#products {
  background-color: var(--color-gray-3);
}

#products h2 {
  color: var(--color-gray-1);
}

.card {
  position: relative;
  background-color: var(--color-gray-1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 4%;
  margin: 50px 2px 20px;
}

.card .photo {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -40px;
}

.card h3 {
  color: var(--color-gray-3);
}

.card p {
  color: var(--color-gray-3);
}

.item2 {
  background-color: var(--color-gray-2);
}
.item3 .photo {
  background-color: var(--color-blue);
}
.item4 {
  background-color: var(--color-blue);
}
.item4 h3,
.item4 p {
  color: var(--color-gray-1);
}
.item5 .photo {
  background-color: var(--color-yellow);
}

/* clients */

#clients {
  background: linear-gradient(rgba(84, 77, 84, 0.8), rgba(84, 77, 84, 0.8)),
    url("/assets/images/recenzije-ngk.jpg") no-repeat center center fixed;
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--color-gray-1);
}

blockquote {
  position: relative;
  padding: 25px 50px 30px;
  background-color: transparent;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: var(--color-gray-1);
  font-size: 50px;
}

blockquote:before {
  content: "\201C";
  top: 0px;
  left: 20px;
}

blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: -10px;
}

#clients i {
  color: var(--color-yellow);
}

.show-review {
  display: none;
}

@media screen and (min-width: 992px) {
  /* steps */

  .step {
    margin: 2px;
    border-left: none;
    border-top: 2px dashed var(--color-blue);
  }

  .hexagon {
    top: -2px;
    left: 50%;
  }

  /* about */

  .photo-about img {
    width: 100%;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
  }

  .photo-about:hover img {
    -webkit-transform: scale(1.15); /* Safari and Chrome */
    -moz-transform: scale(1.15); /* Firefox */
    -ms-transform: scale(1.15); /* IE 9 */
    -o-transform: scale(1.15); /* Opera */
    transform: scale(1.15);
  }

  /* products */

  .card .photo img {
    height: 110%;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
  }

  .card .photo:hover img {
    -webkit-transform: scale(1.15); /* Safari and Chrome */
    -moz-transform: scale(1.15); /* Firefox */
    -ms-transform: scale(1.15); /* IE 9 */
    -o-transform: scale(1.15); /* Opera */
    transform: scale(1.15);
  }

  /* clients */

  .show-review {
    display: block;
  }
}
/* end of home page */

/* products and category */
/* products-list */

.products-group {
  position: relative;
  border-bottom: 1px solid var(--color-gray-2);
}

.products-group::before {
  content: "";
  padding-top: 50%;
  display: block;
}

.products-group a {
  text-decoration: none;
  color: #000;
}

.products-image {
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-image:hover {
  background-color: var(--color-gray-1);
}

.products-image.active-category {
  background-color: var(--color-gray-2);
}

.products-image img {
  margin: auto;
  height: 80px;
}

.products-image h3 {
  margin: 0px;
  position: absolute;
  bottom: 5px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
}

/* products-header */

#products-header h1 {
  background-color: var(--color-blue);
  color: var(--color-yellow);
}

.products-text {
  background-color: var(--color-blue);
  text-align: justify;
  color: #fff;
}

/* products-description */

.products-img {
  position: relative;
}

.products-img::before {
  content: "";
  padding-top: 70%;
  display: block;
}

.products-img .products-image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.products-img .products-image img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 568px) {
  .products-group {
    border-right: 1px solid var(--color-gray-2);
  }

  .products-group:nth-child(odd) {
    border-left: 1px solid var(--color-gray-2);
  }
}

@media screen and (min-width: 992px) {
  #products-list {
    border-bottom: 1px solid var(--color-gray-2);
  }

  .products-group {
    border-bottom: none;
  }

  .products-group:nth-child(odd) {
    border-left: none;
  }

  .products-group:first-child {
    border-left: 1px solid var(--color-gray-2);
  }

  .products-img .products-image img {
    width: 100%;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
  }

  .products-img .products-image:hover img {
    -webkit-transform: scale(1.15); /* Safari and Chrome */
    -moz-transform: scale(1.15); /* Firefox */
    -ms-transform: scale(1.15); /* IE 9 */
    -o-transform: scale(1.15); /* Opera */
    transform: scale(1.15);
  }
}

/* carousel */

.carousel-inner {
  margin-bottom: 20px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 3%;
  height: 80%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  color: var(--color-gray-3);
  font-size: 60px;
}

@media (max-width: 576px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (max-width: 576px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(100%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-100%);
  }
}

@media (min-width: 576px) {
  .carousel-control-prev {
    left: -2%;
  }
  .carousel-control-next {
    right: -2%;
  }

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%);
  }
}

@media (min-width: 991px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

/* end of products and category */

/* inspiration */

.my-item-inspiration {
  border: 1px solid var(--color-gray-2);
}
.my-item-inspiration::before {
  padding-top: 70%;
}
/* end of inspiration */

/* faq */

#faq-header h1 {
  font-size: 40px;
  font-weight: 700;
}

.faq-card {
  width: 90%;
  border: 1px solid var(--color-gray-2);
}

.faq-card h3 {
  font-size: 25px;
  font-weight: 600;
}

/* faq-accordion */

.accordion-header {
  height: 60px;
}

.accordion-button {
  color: var(--color-gray-3);
  background-color: var(--color-gray-2);
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  color: var(--color-gray-3);
  background-color: var(--color-gray-2);
  box-shadow: none;
}

.accordion-button::after {
  display: none;
}
.accordion-button:not(.collapsed)::after {
  display: none;
}

.accordion-button span {
  margin-left: auto;
  font-size: 30px;
}
.accordion-button span::after {
  content: "+";
}
.accordion-button:not(.collapsed) span::after {
  content: "\2212";
}

.accordion-body {
  color: var(--color-gray-3);
  background-color: var(--color-yellow);
}

@media screen and (min-width: 768px) {
  .faq-card {
    width: 100%;
  }
}
/* end of faq */

/* about-us */
/* about-header */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 75vh;
  color: var(--color-gray-1);
}

.about-parallax {
  background: url(/assets/images/about-us.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: -60px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-parallax h1 {
  font-size: 55px;
}

/* about-steps */

#about-steps li {
  list-style-type: disc;
}

.about-step {
  position: relative;
  margin-left: 40px;
  padding-left: 70px;
  padding-bottom: 40px;
  min-height: 150px;
  border-left: 2px dashed var(--color-blue);
}

.about-step .hexagon {
  position: absolute;
  left: 0px;
  top: 48px;
}

.hex {
  width: 100px;
  height: 100px;
  background: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: translate(-50%, -50%);
  clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.hex div {
  width: 70%;
}

.hex div img {
  width: 100%;
}

/* about-highlight */

#about-highlight .card {
  box-shadow: 0 0 10px 5px var(--color-gray-2);
}

#about-highlight h2 {
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  #about-highlight h2 {
    font-size: 55px;
  }
}

/* about-contact */

.about-contact {
  background-color: var(--color-gray-2);
}

.map-image {
  width: 100%;
}

.map-image img {
  width: 100%;
}
/* end of about-us */
