@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

:root {
  --color-yellow: #f2f817; /* rgb(242, 248, 23) */
  --color-blue: #1975d7; /* rgb(25, 117, 215) */

  --color-gray-1: #f6f8f7;
  --color-gray-2: #aaacb1; /* rgb(171, 173, 177) */
  --color-gray-3: #544d54;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font);
}

body {
  line-height: 1.4;
  color: #000;
  font-size: 14px;
  position: relative;
}

h1 {
  font-size: 1.8rem;
  font-family: var(--primary-font);
}

h2 {
  font-size: 1.5rem;
  color: var(--color-blue);
  padding-bottom: 40px;
  text-align: center;
  font-family: var(--primary-font);
}

h3 {
  font-size: 1.2rem;
}

h1,
h2,
h3 {
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  /* text-transform: uppercase; */
  color: var(--color-blue);
  background-color: var(--color-yellow);
  border: 2px solid var(--color-blue);
  /* outline: 2px solid var(--color-blue); */
  /* outline-offset: -2px; */
  /* transition: outline-offset 200ms ease-in; */
  border-radius: 10px;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  /* outline-offset: -7px; */
  background-color: var(--color-blue);
  color: var(--color-yellow);
}

/* header */

header {
  height: 10vh;
  position: sticky;
  background-color: transparent;
  top: 0;
  z-index: 100;
  transition: all 0.5s ease;
}

.header-color {
  background-color: var(--color-gray-2);
  /* box-shadow: 0 2px 10px 8px var(--color-gray-2); */
}

.navbar {
  display: flex;
  height: 0;
}

li {
  font-size: 1.2rem;
  margin: 1.5rem 2.5rem 1rem;
}

li a {
  color: var(--color-blue);
}

li:not(:first-child, :nth-child(2)) {
  display: none;
}

.show-menu {
  flex-direction: column;
  height: 100vh;
  background-color: #111;
  box-shadow: 0 0 0 16px #111;
  transition: all 0.3s ease-out;
}

.show-menu li {
  display: inline;
  border-bottom: 1px solid var(--color-blue);
}

li.icon {
  font-size: 2rem;
  border-bottom: none;
}

li.logo {
  position: absolute;
  top: 0.3rem;
  right: 0;
  width: 30%;
  border-bottom: none;
}

li.logo img {
  width: 100%;
}

/* home */

#home {
  height: 90vh;
}

.home {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url("/assets/images/forside-nygammaltkok.jpg");
  background-size: cover;
  background-position-x: 33%;
  background-position-y: 63%;
}

.main-text {
  position: absolute;
  bottom: 6vh;
  margin: 0 8%;
  padding: 5px;
  text-align: center;
  background-color: rgba(25, 117, 215, 0.4);
  box-shadow: 0 2px 10px 8px rgba(25, 117, 215, 0.4);
}

.main-text h1,
.main-text h3 {
  color: var(--color-yellow);
}

.slide-text {
  margin-bottom: 0.5rem;
}

.slide {
  display: none;
}

.slide.current {
  display: inline;
}

/* steps */

#steps {
  padding: 25px;
}

.step {
  position: relative;
  margin-left: 40px;
  padding-left: 60px;
  padding-bottom: 40px;
  min-height: 150px;
  border-left: 2px dashed var(--color-blue);
}

.hexagon {
  position: absolute;
  left: -40px;
}

.hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 22.5px solid var(--color-blue);
  border-left: 39px solid transparent;
  border-right: 39px solid transparent;
  position: absolute;
  top: -22.5px;
}

.hex {
  margin-top: 22.5px;
  width: 78px;
  height: 45px;
  background-color: var(--color-blue);
  position: relative;
}

.hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -22.5px;
  border-top: 22.5px solid var(--color-blue);
  border-left: 39px solid transparent;
  border-right: 39px solid transparent;
}

.hex div {
  text-align: center;
  font-size: 2.1rem;
  color: var(--color-yellow);
}

.step-text p {
  color: var(--color-gray-3);
}

/* products */

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.card {
  position: relative;
  background-color: var(--color-blue);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 0 4%;
  margin: 20px 2px 30px;
}

.card .photo {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  position: relative;
  top: -30px;
}

.card .photo img {
  width: 110%;
  display: block;
}

.card h3 {
  color: var(--color-yellow);
  margin: 10px;
  font-size: 1.2rem;
  position: relative;
  top: -15px;
}

/* clients */

#clients {
  background: url("/assets/images/client_background.jpg") no-repeat center
    center/cover;
}

#clients h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  color: var(--color-yellow);
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  color: var(--color-yellow);
}

.reviews div {
  padding-bottom: 1rem;
}

.reviews blockquote {
  background-color: transparent;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  padding: 25px 50px 30px;
  position: relative;
}

.reviews blockquote:before,
.reviews blockquote:after {
  content: "\201C";
  position: absolute;
  color: var(--color-yellow);
  font-size: 50px;
  font-style: normal;
}

.reviews blockquote:before {
  top: 25px;
  left: 20px;
}

.reviews blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}

.reviews img {
  border-radius: 50%;
  height: 60px;
}

.reviews i {
  color: var(--color-yellow);
}

/* footer */

footer {
  width: 100%;
  background-color: var(--color-gray-3);
  color: var(--color-gray-2);
  text-align: center;
  padding-top: 30px;
}

footer .container div {
  padding: 10px;
}

footer a {
  color: var(--color-gray-1);
}

footer a:hover {
  color: var(--color-gray-2);
}

footer i {
  margin: 0 5px;
}

.copyright {
  padding-bottom: 1rem;
}
.copy {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-gray-2);
}
.copy::before,
.copy::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--color-gray-2);
}

/* @media screen and (min-width: 576px) {
} */

@media screen and (min-width: 769px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  /* header */

  .navbar {
    padding-top: 2.7rem;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;
  }

  li {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
  }

  li:nth-child(1) {
    display: none;
  }

  li.logo {
    margin-right: auto;
    position: relative;
    width: 15%;
  }

  li:not(:first-child, :nth-child(2)) {
    display: inline;
  }

  li {
    padding-right: 10px;
  }

  li a {
    margin: 0 0.8rem;
    padding: 0;
  }

  li a:hover {
    color: var(--color-yellow);
  }

  .active {
    border-bottom: 3px solid var(--color-blue);
  }

  .active:hover {
    border-bottom-color: var(--color-yellow);
  }

  /* home */

  .title-text {
    padding: 10px;
    bottom: 8vh;
    margin: 0 10%;
  }

  .slide-text {
    min-width: 1200px;
  }

  /* products */

  .grid {
    padding-bottom: 70px;
    grid-column-gap: 30px;
    grid-row-gap: 70px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 15vw);
  }

  .card {
    height: 100%;
    width: 100%;
  }

  .card .photo {
    height: 85%;
  }

  .card .photo img {
    height: 110%;
  }

  .item1 {
    grid-area: 2/1/4/3;
  }
  .item2 {
    grid-area: 1/1/2/2;
  }
  .item3 {
    grid-area: 2/3/3/4;
  }
  .item4 {
    grid-area: 3/3/5/4;
  }
  .item5 {
    grid-area: 1/2/2/4;
  }
  .item6 {
    grid-area: 4/1/5/2;
  }
  .item7 {
    grid-area: 4/2/5/3;
  }

  .item4 .photo img {
    width: 200%;
  }
}
