/* products pages */
/* products-list */

.products-group {
  position: relative;
  border-bottom: 1px solid var(--color-gray-2);
}

.products-group::before {
  content: "";
  padding-top: 50%;
  display: block;
}

.products-group a {
  text-decoration: none;
  color: #000;
}

.products-image {
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-image:hover {
  background-color: var(--color-gray-1);
}

.products-image.active-category {
  background-color: var(--color-gray-2);
}

.products-image img {
  margin: auto;
  height: 80px;
}

.products-image h3 {
  margin: 0px;
  position: absolute;
  bottom: 5px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
}

/* products-header */

#products-header h1 {
  background-color: var(--color-blue);
  color: var(--color-yellow);
}

.products-text {
  background-color: var(--color-blue);
  text-align: justify;
  color: #fff;
}

/* products-description */

.products-img {
  position: relative;
}

.products-img::before {
  content: "";
  padding-top: 70%;
  display: block;
}

.products-img .products-image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.products-img .products-image img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 568px) {
  .products-group {
    border-right: 1px solid var(--color-gray-2);
  }

  .products-group:nth-child(odd) {
    border-left: 1px solid var(--color-gray-2);
  }
}

@media screen and (min-width: 992px) {
  #products-list {
    border-bottom: 1px solid var(--color-gray-2);
  }

  .products-group {
    border-bottom: none;
  }

  .products-group:nth-child(odd) {
    border-left: none;
  }

  .products-group:first-child {
    border-left: 1px solid var(--color-gray-2);
  }
}

/* carousel */

.carousel-inner {
  margin-bottom: 30px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 4%;
  height: 80%;
}
.carousel-control-prev {
  left: -4.5%;
}
.carousel-control-next {
  right: -3%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  color: var(--color-gray-3);
  font-size: 60px;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Show 4th slide on md if col-md-4*/
  .carousel-inner
    .active.col-md-4.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%; /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm if col-sm-6*/
  .carousel-inner
    .active.col-sm-6.carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%; /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
  }
  /* show 2 items */
  .carousel-inner .active + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction */
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/* LG */
@media (min-width: 991px) {
  /* show 4th item */
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }
  /* Show 5th slide on lg if col-lg-3 */
  .carousel-inner
    .active.col-lg-3.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%; /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction //t - previous slide direction last item animation fix */
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

@media screen and (min-width: 1400px) {
  .my-container {
    max-width: 1320px;
  }
}
