@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

:root {
  --color-yellow: #f2f817; /* rgb(242, 248, 23) */
  --color-blue: #1975d7; /* rgb(25, 117, 215) */

  --color-gray-1: #f6f8f7;
  --color-gray-2: #aaacb1; /* rgb(171, 173, 177) */
  --color-gray-3: #544d54; /* rgb(84, 77, 84) */

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

* {
  font-family: var(--secondary-font);
}

h1,
h2 {
  font-family: var(--primary-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* button */

.my-button {
  position: relative;
  background-color: var(--color-gray-3);
  width: 180px;
  height: 45px;
  border-radius: 40px;
  margin: 10px 0;
}

.my-button button {
  z-index: 7;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-gray-1);
  background-color: transparent;
  overflow: hidden;
  border: 1px solid var(--color-gray-1);
  border-radius: 40px;
}

.my-button span {
  color: var(--color-gray-1);
  z-index: 7;
  position: relative;
  transition: color 0.5s linear;
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 200px;
    height: 200px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 200px;
    height: 200px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 200px;
    height: 200px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 200px;
    height: 200px;
  }
}
.my-button button:before,
.my-button button:after {
  z-index: 6;
  position: absolute;
  top: 50%;
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--color-gray-1);
  border-radius: 50%;
}
.my-button button:before {
  left: -20px;
  transform: translate(-50%, -50%);
}
.my-button button:after {
  right: -20px;
  transform: translate(50%, -50%);
}
.my-button:hover button {
  z-index: 7;
  cursor: pointer;
  color: var(--color-gray-3);
  border: 1px solid var(--color-gray-3);
}
.my-button:hover button:before {
  -webkit-animation: criss-cross-left 0.8s both;
  animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.my-button:hover button:after {
  -webkit-animation: criss-cross-right 0.8s both;
  animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.my-button:hover span {
  color: var(--color-gray-3);
}

/* header and navbar */

header {
  height: 60px;
  position: sticky;
  background-color: rgba(84, 77, 84, 0.6);
  top: 0;
  z-index: 100;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
}

.header-color {
  background-color: rgba(84, 77, 84, 0.9);
}

/* navbar */

.my-navbar {
  height: 0;
  padding-left: 0px;
  display: flex;
  align-content: center;
}

.my-navbar li {
  font-size: 20px;
  margin: 24px 36px 16px;
}

.my-navbar li a {
  color: var(--color-gray-1);
}

.my-navbar li:not(:first-child, :nth-child(2)) {
  display: none;
}

.my-nav-icon span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 7px;
  position: relative;
  background: #fff;
  border-radius: 3px;
}

.my-logo {
  position: absolute;
  right: 15px;
  top: -8px;
  width: 120px;
}

.my-logo img {
  width: 100%;
}

.show-menu {
  flex-direction: column;
  justify-content: unset;
  height: 100vh;
  background-color: #111;
  box-shadow: 0 0 0 60px #111;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out; /* Safari and Chrome */
  -moz-transition: all 0.3s ease-out; /* Firefox */
  -ms-transition: all 0.3s ease-out; /* IE 9 */
  -o-transition: all 0.3s ease-out; /* Opera */
}

.show-menu li:not(:first-child, :nth-child(2)) {
  display: inline;
  border-bottom: 1px solid var(--color-gray-1);
}

@media screen and (min-width: 992px) {
  .my-navbar {
    padding-top: 20px;
    flex-direction: row;
    text-transform: uppercase;
  }

  .my-navbar li {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding-right: 10px;
  }

  .my-navbar .my-nav-icon {
    display: none;
  }

  .my-navbar .my-logo {
    top: -6px;
    margin-right: auto;
    position: relative;
    width: 150px;
  }

  .my-navbar li:not(:first-child, :nth-child(2)) {
    display: inline;
  }

  .my-navbar li:not(:first-child, :nth-child(2)) a {
    margin: 0 8px;
    padding: 0;
    color: var(--color-gray-1);
  }

  .my-navbar li:not(:first-child, :nth-child(2)) a:hover {
    text-decoration: none;
    color: var(--color-gray-1);
    border-bottom: 3px solid var(--color-yellow);
  }

  .my-navbar .active {
    border-bottom: 3px solid var(--color-gray-1);
  }

  .my-navbar .active:hover {
    color: var(--color-gray-1);
    border-bottom-color: var(--color-yellow);
  }
}

/* footer */

footer {
  background-color: var(--color-gray-3);
  color: var(--color-gray-2);
}

footer a {
  color: var(--color-gray-1);
}

footer a:hover {
  color: var(--color-gray-2);
}
.copy {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-gray-2);
}
.copy::before,
.copy::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--color-gray-2);
}

/* hover - transition text */

.my-item {
  position: relative;
}

.my-item::before {
  content: "";
  padding-top: 100%;
  display: block;
}

.my-item .item-image {
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  overflow: hidden;
}

.item-image img {
  width: 110%;
}

.my-item .item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding-top: 10%;
  color: #fff;
  background-color: rgba(50, 50, 50, 0);
  transition: background-color 0.3s linear 0.1s;
}

.item-image:hover .item-text {
  background-color: rgba(50, 50, 50, 0.7);
}

.item-text h3 {
  position: relative;
  width: 90%;
  left: -120px;
  transition: left 0.3s ease-out 0.1s, opacity 0.3s ease-out 0.1s;
  opacity: 0;
}

.item-image:hover h3 {
  left: 0px;
  opacity: 1;
}

.item-text p {
  position: relative;
  width: 90%;
  border-top: 1px solid #fff;
  right: -150px;
  transition: right 0.3s ease-out 0.1s, opacity 0.3s ease-out 0.1s;
  opacity: 0;
}

.item-image:hover p {
  right: 0px;
  opacity: 1;
}

.my-item-inspiration {
  border: 1px solid var(--color-gray-2);
}

.my-item-inspiration::before {
  padding-top: 70%;
}
